{% extends 'backbase.html' %}
{% block content %}
<H2>Manage - Advertisements</H2>

<form enctype="multipart/form-data" action="{% url 'appAdvertisements' %}" method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="" class="form-label">Title/Description</label>
        <input type="text" class="form-control" name="title" id="" required aria-describedby="helpId" placeholder="">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Banner Image</label>
        <input type="file" class="form-control" name="image" required id="" placeholder=""
            aria-describedby="fileHelpId">
    </div>
    <div class="mb-3">
        <textarea class="form-control" name="pageContent" id="your_summernote" rows="10"></textarea>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Document</label>
        <input type="file" class="form-control" name="document4" id="" placeholder=""
            aria-describedby="fileHelpId">
    </div>
    <div class="mb-3">
        <button type="submit" name="addAdvertisement" class="btn btn-primary my-1 text-white">Save And Publish</button>
    </div>
</form>

<br />
<table class="table table-striped table-bordered table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Sr.No</th>
            <th>Title</th>
            <th>Document&Path</th>
            <th>Banner&Path</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for Advertisement in AAdvertisements %}
        <tr>
            <td scope="row">{{forloop.counter}}</td>
            <td>{{Advertisement.title}}</td>
            <td>{% if Advertisement.document4 %}<a href="{{rootUrl}}{{Advertisement.document4.url}}">View</a>{% else %} No Document Found{% endif %}</td>
            <td><a href="{{rootUrl}}{{Advertisement.image.url}}">View</a></td>
            <td>
                <a class="text-white btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#EditModal{{Advertisement.id}}">Edit</a>


                <div class="modal fade" id="EditModal{{Advertisement.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
    
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data" action="{% url 'appAdvertisements' %}" method="POST">
                                    {% csrf_token %}
                        <input type="hidden" name="AdvertisementID" value={{Advertisement.id}}>
                                
                                    <div class="mb-3">
                                        <label for="" class="form-label">Title/Description</label>
                                        <input type="text" class="form-control" name="title" value="{{Advertisement.title}}" id="" required aria-describedby="helpId" placeholder="">
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="" class="form-label">Banner Image</label>
                                        <input type="file" class="form-control" name="image" id="" placeholder=""
                                            aria-describedby="fileHelpId">
                                            <small><a href="{{rootUrl}}{{Advertisement.image.url}}">{{rootUrl}}{{Advertisement.image.url}}</a></small>
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control your_summernote" name="pageContent" id="your_summernote" rows="10">{{Advertisement.pageContent}}</textarea>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="" class="form-label">Document</label>
                                        <input type="file" class="form-control" name="document4" id="" placeholder=""
                                            aria-describedby="fileHelpId">
                                            <small> {% if Advertisement.document4 %}<a href="{{rootUrl}}{{Advertisement.document4.url}}">{{rootUrl}}{{Advertisement.document4.url}}</a>{% else %}No Document Found{% endif %}</small>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" name="EditAdvertisement" class="btn btn-primary my-1 text-white">Save And Publish</button>
                                        <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                               
                                
                            </div>
                        </div>
                    </div>
          
            </div>


                <a class="text-white btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal{{Advertisement.id}}">Delete</a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{Advertisement.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <form method="POST" action="{% url 'appAdvertisements' %}">{% csrf_token %}

                        <input type="hidden" name="AdvertisementID" value={{Advertisement.id}}>

                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-danger">Sure you want to delete?</p>
                                    {{Advertisement.title}}
                                    <br />
                                    <br />
                                    {{Advertisement.pageContent|safe}}
                                    <br />
                                    <br />
                                    <small>Banner </small>
                                    <a href="{{rootUrl}}{{Advertisement.image.url}}">{{rootUrl}}{{Advertisement.image.url}}</a>
                                    <br />
                                    <small>Documents</small>
                                    {% if Advertisement.document4 %}<a href="{{rootUrl}}{{Advertisement.document4.url}}">{{rootUrl}}{{Advertisement.document4.url}}</a>{% else %}No Document Found{% endif %}
                                    <br />
                                    <br />
                                    <button type="submit" name="deleteAdvertisement" class="btn btn-danger text-white">Save
                                        changes and Delete</button>       <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock content %}