{% extends 'base.html' %}

{% block content %}


    <div class="container-fluid my-4">
        <h2>Customer Registration</h2>

        <hr>
        <form method="POST" action="{% url 'CustomersReg' %}">{% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">Full Name</label>
                        <input required type="text" class="form-control" name="fullname" id="" aria-describedby="helpId"
                            placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Contact</label>
                        <input required type="text" class="form-control" name="contact" id="" aria-describedby="helpId"
                            placeholder="">

                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">Address</label>
                        <textarea required class="form-control" name="address" id="" rows="5"></textarea>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">Gender</label>
                        <select required class="form-control" name="Gender" id="">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" required class="form-label">Date Of Birth</label>
                        <input required type="date" class="form-control" name="DOB" id="" aria-describedby="helpId"
                            placeholder="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">State</label>
                        <select required class="form-select" name="StateID" id="">
                            
                            {% for s in State %}
                            <option value="{{s.id}}">{{s.Value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">District</label>
                        <select required class="form-select" name="DistrictID" id="">
                            
                            {% for D in District %}
                            <option value="{{D.id}}">{{D.Value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">Takula</label>
                        <select required class="form-select" name="TalukaID" id="">
                            
                            {% for T in Taluka %}
                            <option value="{{T.id}}">{{T.Value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for=""  required class="form-label">City/Village</label>
                        <select class="form-select" name="CityVillageID" id="">
                            
                            {% for CV in CityVillage %}
                            <option value="{{CV.id}}">{{CV.Value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <hr />

                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <label for="" required class="form-label">Email Address</label>
                        <input required type="email" class="form-control" name="email" id="" aria-describedby="helpId"
                            placeholder="">
                    </div>

                    <div class="mb-3">
                        <label for="" required class="form-label">Password</label>
                        <input required type="password" class="form-control" name="pass_1" id="" aria-describedby="helpId"
                            placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="" required class="form-label">Confirm Password</label>
                        <input required type="password" class="form-control" name="pass_2" id="" aria-describedby="helpId"
                            placeholder="">
                    </div>

                </div>
                <div class="col-md-6 col-12">
                    <h5>Terms and Coditions</h5>
                    <ol class="list-group list-group-numbered mt-3">
                        <li class="list-group-item">You can login with your email and password after successful registration</li>
                        <li class="list-group-item">You can only view data of your district</li>
                        <li class="list-group-item">Never share your account credentials with anyone</li>
                        <li class="list-group-item">We will never call you and ask for your personal details </li>
                        <li class="list-group-item">Never share your bank details with people who claim to be from Udyojak Mitra Group </li>
                      </ol>
                </div>

            </div>
            {% if messages %}
            {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

            <button type="submit" class="btn btn-primary">Register</button>

        </div>
    </form>
    </div>

{% endblock content %}